<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${@site.title}"></title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link th:href="@{/assets/css/board.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="container">
		<th:block th:include="includes/header"></th:block>
		<div id="content">
			<div id="board">
				<form id="search_form" th:action="@{/board}" method="get">
					<input type="text" id="kwd" name="kwd" th:value="${keyword}">
					<input type="submit" value="찾기">
				</form>
				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th>&nbsp;</th>
					</tr>
					<tr th:each="vo, status: ${map.list}">
						<td>[[${map.totalCount - (map.currentPage - 1) * map.listSize - status.index}]]</td>
						<td th:if="${vo.depth > 0}" class="left" th:style="|text-align:left; padding-left:${20*vo.depth}px|">
							<img th:src="@{/assets/images/reply.png}">
							<a th:href="@{(|/board/view/${vo.no}|)(p=${map.currentPage}, kwd=${map.keyword})}">[[${vo.title}]]</a>
						</td>
						<td th:unless="${vo.depth > 0}" class="left" style="text-align:left">
							<a th:href="@{(|/board/view/${vo.no}|)(p=${map.currentPage}, kwd=${map.keyword})}">[[${vo.title}]]</a>
						</td>
						<td>[[${vo.userName}]]</td>
						<td>[[${vo.hit}]]</td>
						<td>[[${vo.regDate}]]</td>
						<td>
							<th:block sec:authorize="isAuthenticated()">
								<a
									th:if="${principal.no == vo.userNo}"
									th:href="@{(|/board/delete/${vo.no}|)(p=${map.currentPage}, kwd=${map.keyword})}"
									th:style="|background-image:url(@{/assets/images/recycle.png})|"
									class="del">삭제</a>
							</th:block>	
						</td>
					</tr>
				</table>
				<div class="pager">
					<ul>
						<li th:if="${map.prevPage > 0}">
							<a th:href="@{/board(p=${map.prevPage}, kwd=${map.keyword})}">◀</a>
						</li>
						
						<th:block th:each="page: ${#numbers.sequence(map.beginPage, map.beginPage + map.listSize - 1)}">
							<li th:if="${map.endPage < page}" th:text="${page}"></li>
							<li th:if="${map.currentPage == page}" th:text="${page}" class="selected"></li>
							<li th:if="${map.endPage >= page && map.currentPage != page}">
								<a th:href="@{/board(p=${page}, kwd=${map.keyword})}" th:text="${page}"></a>
							</li>
						</th:block>
						
						<li th:if="${map.nextPage > 0}">
							<a th:href="@{/board(p=${map.nextPage}, kwd=${map.keyword})}">▶</a>
						</li>
					</ul>
				</div>				
				<div class="bottom">
					<a sec:authorize="isAuthenticated()" th:href="@{/board/write(p=${map.currentPage}, kwd=${map.keyword})}" id="new-book">글쓰기</a>
				</div>
			</div>
		</div>
		<th:block th:include="includes/navigation"></th:block>
		<th:block th:include="includes/footer"></th:block>
	</div>
</body>
</html>
