<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${@site.title}"></title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link th:href="@{/assets/css/user.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="container">
		<th:block th:include="includes/header"></th:block>
		<div id="content">
			<div id="user">
				<form id="join-form" name="joinForm" th:object="${userVo}" method="post" th:action="@{/user/join}">
					<label class="block-label" for="name" th:text="#{user.join.label.name}"></label>
					<input type="text" id="name" th:field="*{name}">
					<p style="padding:3px 0 5px 0; text-align: left; color: #f00" th:if="${#fields.hasErrors('name')}"th:text="${#fields.errors('name')[0]}"></p>
					
					<label class="block-label" for="email" th:text="#{user.join.label.email}"></label>
					<input type="text" id="email" th:field="*{email}">
					<input type="button" th:value="#{user.join.label.email.check}">
					<p style="padding:3px 0 5px 0; text-align: left; color: #f00" th:if="${#fields.hasErrors('email')}" th:text="${#fields.errors('email')[0]}"></p>
					
					<label class="block-label" th:text="#{user.join.label.password}"></label>
					<input type="password" name="password" th:value="*{password}">
					<p style="padding:3px 0 5px 0; text-align: left; color: #f00" th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('password')[0]}"></p>
					
					<fieldset>
						<legend th:text="#{user.join.label.gender}"></legend>
						<label th:text="#{user.join.label.gender.female}"></label> <input type="radio" name="gender" value="female" th:checked="*{gender == 'female'}">
						<label th:text="#{user.join.label.gender.male}"></label> <input type="radio" name="gender" value="male" th:checked="*{gender == 'male'}">
					</fieldset>
					
					<fieldset>
						<legend th:text="#{user.join.label.terms}"></legend>
						<input id="agree-prov" type="checkbox" name="agreeProv" value="y">
						<label th:text="#{user.join.label.terms.message}"></label>
					</fieldset>
					
					<input type="submit" th:value="#{user.join.button.signup}">
				</form>
			</div>
		</div>
		<th:block th:include="includes/navigation"></th:block>
		<th:block th:include="includes/footer"></th:block>
	</div>
</body>
</html>