<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Authenticator</key>
		<string></string>
		<key>ConnectionName</key>
		<string>EMPLOYEES</string>
		<key>DatabaseEncoding</key>
		<string></string>
		<key>DatabaseHost</key>
		<string>192.168.64.2</string>
		<key>DatabaseName</key>
		<string>employees</string>
		<key>DatabasePasswordMode</key>
		<integer>0</integer>
		<key>DatabasePath</key>
		<string></string>
		<key>DatabasePort</key>
		<string>3306</string>
		<key>DatabaseSocket</key>
		<string></string>
		<key>DatabaseType</key>
		<string></string>
		<key>DatabaseUser</key>
		<string>hr</string>
		<key>DatabaseUserRole</key>
		<string></string>
		<key>DatabaseWarehouse</key>
		<string></string>
		<key>Driver</key>
		<string>MariaDB</string>
		<key>DriverVersion</key>
		<integer>0</integer>
		<key>Enviroment</key>
		<string>local</string>
		<key>Favorites</key>
		<dict/>
		<key>GroupID</key>
		<string></string>
		<key>HideFunctionSection</key>
		<integer>0</integer>
		<key>ID</key>
		<string>6A156824-4D4F-4997-9AF6-D6B70AA0501D</string>
		<key>ItemGroups</key>
		<array/>
		<key>LimitQueryRowsReturned</key>
		<integer>1</integer>
		<key>LimitRowsReturned</key>
		<integer>0</integer>
		<key>OtherOptions</key>
		<array/>
		<key>PreloadAllSchemaItems</key>
		<integer>0</integer>
		<key>RecentUsedBackupDriverName</key>
		<string></string>
		<key>RecentUsedBackupGzip</key>
		<integer>0</integer>
		<key>RecentUsedBackupOptions</key>
		<array/>
		<key>RecentUsedRestoreOptions</key>
		<array/>
		<key>RecentlyOpened</key>
		<array>
			<string>employees.employees.departments</string>
			<string>employees.employees.dept_emp</string>
			<string>employees.employees.employees</string>
			<string>employees.employees.salaries</string>
			<string>employees.employees.titles</string>
		</array>
		<key>RecentlySchema</key>
		<array>
			<string>employees.employees</string>
		</array>
		<key>SectionStates</key>
		<dict>
			<key>employees.Functions</key>
			<string>expanded</string>
			<key>employees.Tables</key>
			<string>expanded</string>
		</dict>
		<key>ServerAddress</key>
		<string>127.0.0.1</string>
		<key>ServerPasswordMode</key>
		<integer>0</integer>
		<key>ServerPort</key>
		<string>22</string>
		<key>ServerPrivateKeyName</key>
		<string>Import a private key...</string>
		<key>ServerUser</key>
		<string></string>
		<key>ShowRecentlySection</key>
		<integer>0</integer>
		<key>ShowSequenceSection</key>
		<integer>0</integer>
		<key>ShowSystemSchemas</key>
		<integer>0</integer>
		<key>ShowUserDefineSection</key>
		<integer>0</integer>
		<key>StartupBashScript</key>
		<string></string>
		<key>StartupCommands</key>
		<string></string>
		<key>TlsKeyName</key>
		<string>Key...,Cert...,CA Cert...</string>
		<key>TlsKeyPaths</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>isOverSSH</key>
		<integer>0</integer>
		<key>isUsePrivateKey</key>
		<integer>0</integer>
		<key>isUseSocket</key>
		<integer>0</integer>
		<key>statusColor</key>
		<string>#BDCCF4</string>
		<key>tLSMode</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Authenticator</key>
		<string></string>
		<key>ConnectionName</key>
		<string>WEBDB</string>
		<key>DatabaseEncoding</key>
		<string></string>
		<key>DatabaseHost</key>
		<string>192.168.64.2</string>
		<key>DatabaseName</key>
		<string>webdb</string>
		<key>DatabasePasswordMode</key>
		<integer>0</integer>
		<key>DatabasePath</key>
		<string></string>
		<key>DatabasePort</key>
		<string>3306</string>
		<key>DatabaseSocket</key>
		<string></string>
		<key>DatabaseType</key>
		<string></string>
		<key>DatabaseUser</key>
		<string>webdb</string>
		<key>DatabaseUserRole</key>
		<string></string>
		<key>DatabaseWarehouse</key>
		<string></string>
		<key>Driver</key>
		<string>MariaDB</string>
		<key>DriverVersion</key>
		<integer>0</integer>
		<key>Enviroment</key>
		<string>local</string>
		<key>Favorites</key>
		<dict/>
		<key>GroupID</key>
		<string></string>
		<key>HideFunctionSection</key>
		<integer>0</integer>
		<key>ID</key>
		<string>F36889A2-413D-4E53-8849-036ED7A241EF</string>
		<key>ItemGroups</key>
		<array/>
		<key>LimitQueryRowsReturned</key>
		<integer>0</integer>
		<key>LimitRowsReturned</key>
		<integer>0</integer>
		<key>OtherOptions</key>
		<array/>
		<key>PreloadAllSchemaItems</key>
		<integer>0</integer>
		<key>RecentUsedBackupDriverName</key>
		<string></string>
		<key>RecentUsedBackupGzip</key>
		<integer>0</integer>
		<key>RecentUsedBackupOptions</key>
		<array/>
		<key>RecentUsedRestoreOptions</key>
		<array/>
		<key>RecentlyOpened</key>
		<array>
			<string>webdb.webdb.emaillist</string>
		</array>
		<key>RecentlySchema</key>
		<array>
			<string>webdb.webdb</string>
		</array>
		<key>SectionStates</key>
		<dict>
			<key>webdb.Functions</key>
			<string>expanded</string>
			<key>webdb.Tables</key>
			<string>expanded</string>
		</dict>
		<key>ServerAddress</key>
		<string>127.0.0.1</string>
		<key>ServerPasswordMode</key>
		<integer>0</integer>
		<key>ServerPort</key>
		<string>22</string>
		<key>ServerPrivateKeyName</key>
		<string>Import a private key...</string>
		<key>ServerUser</key>
		<string></string>
		<key>ShowRecentlySection</key>
		<integer>0</integer>
		<key>ShowSequenceSection</key>
		<integer>0</integer>
		<key>ShowSystemSchemas</key>
		<integer>0</integer>
		<key>ShowUserDefineSection</key>
		<integer>0</integer>
		<key>StartupBashScript</key>
		<string></string>
		<key>StartupCommands</key>
		<string></string>
		<key>TlsKeyName</key>
		<string>Key...,Cert...,CA Cert...</string>
		<key>TlsKeyPaths</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>isOverSSH</key>
		<integer>0</integer>
		<key>isUsePrivateKey</key>
		<integer>0</integer>
		<key>isUseSocket</key>
		<integer>0</integer>
		<key>statusColor</key>
		<string>#BDCCF4</string>
		<key>tLSMode</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Authenticator</key>
		<string></string>
		<key>ConnectionName</key>
		<string>cdmall</string>
		<key>DatabaseEncoding</key>
		<string></string>
		<key>DatabaseHost</key>
		<string>192.168.64.2</string>
		<key>DatabaseName</key>
		<string>cdmall</string>
		<key>DatabasePasswordMode</key>
		<integer>0</integer>
		<key>DatabasePath</key>
		<string></string>
		<key>DatabasePort</key>
		<string>3306</string>
		<key>DatabaseSocket</key>
		<string></string>
		<key>DatabaseType</key>
		<string></string>
		<key>DatabaseUser</key>
		<string>cdmall</string>
		<key>DatabaseUserRole</key>
		<string></string>
		<key>DatabaseWarehouse</key>
		<string></string>
		<key>Driver</key>
		<string>MariaDB</string>
		<key>DriverVersion</key>
		<integer>0</integer>
		<key>Enviroment</key>
		<string>local</string>
		<key>Favorites</key>
		<dict/>
		<key>GroupID</key>
		<string></string>
		<key>HideFunctionSection</key>
		<integer>0</integer>
		<key>ID</key>
		<string>AC1484F8-7E83-4772-95ED-A6E3179E65F8</string>
		<key>ItemGroups</key>
		<array/>
		<key>LimitQueryRowsReturned</key>
		<integer>0</integer>
		<key>LimitRowsReturned</key>
		<integer>0</integer>
		<key>OtherOptions</key>
		<array/>
		<key>PreloadAllSchemaItems</key>
		<integer>0</integer>
		<key>RecentUsedBackupDriverName</key>
		<string></string>
		<key>RecentUsedBackupGzip</key>
		<integer>0</integer>
		<key>RecentUsedBackupOptions</key>
		<array/>
		<key>RecentUsedRestoreOptions</key>
		<array/>
		<key>RecentlyOpened</key>
		<array/>
		<key>RecentlySchema</key>
		<array>
			<string>cdmall.cdmall</string>
		</array>
		<key>SectionStates</key>
		<dict>
			<key>cdmall.Functions</key>
			<string>expanded</string>
			<key>cdmall.Tables</key>
			<string>expanded</string>
		</dict>
		<key>ServerAddress</key>
		<string>127.0.0.1</string>
		<key>ServerPasswordMode</key>
		<integer>0</integer>
		<key>ServerPort</key>
		<string>22</string>
		<key>ServerPrivateKeyName</key>
		<string>Import a private key...</string>
		<key>ServerUser</key>
		<string></string>
		<key>ShowRecentlySection</key>
		<integer>0</integer>
		<key>ShowSequenceSection</key>
		<integer>0</integer>
		<key>ShowSystemSchemas</key>
		<integer>0</integer>
		<key>ShowUserDefineSection</key>
		<integer>0</integer>
		<key>StartupBashScript</key>
		<string></string>
		<key>StartupCommands</key>
		<string></string>
		<key>TlsKeyName</key>
		<string>Key...,Cert...,CA Cert...</string>
		<key>TlsKeyPaths</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>isOverSSH</key>
		<integer>0</integer>
		<key>isUsePrivateKey</key>
		<integer>0</integer>
		<key>isUseSocket</key>
		<integer>0</integer>
		<key>statusColor</key>
		<string>#BDCCF4</string>
		<key>tLSMode</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Authenticator</key>
		<string></string>
		<key>ConnectionName</key>
		<string>BOOKMALL</string>
		<key>DatabaseEncoding</key>
		<string></string>
		<key>DatabaseHost</key>
		<string>192.168.64.2</string>
		<key>DatabaseName</key>
		<string>bookmall</string>
		<key>DatabasePasswordMode</key>
		<integer>0</integer>
		<key>DatabasePath</key>
		<string></string>
		<key>DatabasePort</key>
		<string>3306</string>
		<key>DatabaseSocket</key>
		<string></string>
		<key>DatabaseType</key>
		<string></string>
		<key>DatabaseUser</key>
		<string>bookmall</string>
		<key>DatabaseUserRole</key>
		<string></string>
		<key>DatabaseWarehouse</key>
		<string></string>
		<key>Driver</key>
		<string>MariaDB</string>
		<key>DriverVersion</key>
		<integer>0</integer>
		<key>Enviroment</key>
		<string>local</string>
		<key>Favorites</key>
		<dict/>
		<key>GroupID</key>
		<string></string>
		<key>HideFunctionSection</key>
		<integer>0</integer>
		<key>ID</key>
		<string>BC885C27-37A5-4038-B53E-D2A8B9D61F23</string>
		<key>ItemGroups</key>
		<array/>
		<key>LimitQueryRowsReturned</key>
		<integer>0</integer>
		<key>LimitRowsReturned</key>
		<integer>0</integer>
		<key>OtherOptions</key>
		<array/>
		<key>PreloadAllSchemaItems</key>
		<integer>0</integer>
		<key>RecentUsedBackupDriverName</key>
		<string></string>
		<key>RecentUsedBackupGzip</key>
		<integer>0</integer>
		<key>RecentUsedBackupOptions</key>
		<array/>
		<key>RecentUsedRestoreOptions</key>
		<array/>
		<key>RecentlyOpened</key>
		<array/>
		<key>RecentlySchema</key>
		<array/>
		<key>SectionStates</key>
		<dict/>
		<key>ServerAddress</key>
		<string>127.0.0.1</string>
		<key>ServerPasswordMode</key>
		<integer>0</integer>
		<key>ServerPort</key>
		<string>22</string>
		<key>ServerPrivateKeyName</key>
		<string>Import a private key...</string>
		<key>ServerUser</key>
		<string></string>
		<key>ShowRecentlySection</key>
		<integer>0</integer>
		<key>ShowSequenceSection</key>
		<integer>0</integer>
		<key>ShowSystemSchemas</key>
		<integer>0</integer>
		<key>ShowUserDefineSection</key>
		<integer>0</integer>
		<key>StartupBashScript</key>
		<string></string>
		<key>StartupCommands</key>
		<string></string>
		<key>TlsKeyName</key>
		<string>Key...,Cert...,CA Cert...</string>
		<key>TlsKeyPaths</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>isOverSSH</key>
		<integer>0</integer>
		<key>isUsePrivateKey</key>
		<integer>0</integer>
		<key>isUseSocket</key>
		<integer>0</integer>
		<key>statusColor</key>
		<string>#BDCCF4</string>
		<key>tLSMode</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
