<script th:src="@{/assets/js/jquery/jquery-1.9.0.js}"></script>
<script>
$(function() {
	$('#languages a').click(function(event){
		event.preventDefault();
		
		document.cookie = 
			"lang="    + $(this).data('lang') + ";" +					// name=value
			"path="    + "[[@{/}]]" + ";"	+							// path
			"expires=" + new Date(Date.now() + 30*24*60*60) + ";"		// expires
		
		// reload
		location.reload();
	});
})

</script>
		<div id="header">
			<h1 th:text="${@site.title}"></h1>
			<div id="languages">
				<th:block th:if="${language == 'en'}">
					<a href="" data-lang="ko">KR</a><a class="active" href="" data-lang="en">EN</a>
				</th:block>
				<th:block th:unless="${language == 'en'}">
					<a class="active" href="" data-lang="ko">KR</a><a href="" data-lang="en">EN</a>
				</th:block>
			</div>
			<ul>
				<th:block sec:authorize="!isAuthenticated()">
					<li><a th:href="@{/user/login}" th:text="#{header.gnb.login}"></a></li>
					<li><a th:href="@{/user/join}" th:text="#{header.gnb.join}"></a></li>
				</th:block>
				<th:block sec:authorize="isAuthenticated()">
					<li><a th:href="@{/user/update}" th:text="#{header.gnb.settings}"></a></li>
					<li><a th:href="@{/user/logout}" th:text="#{header.gnb.logout}"></a></li>
					<li><span th:text="#{header.gnb.greeting}"></span> <span sec:authentication="principal.name"></span><span th:text="#{header.gnb.user.title}"></span></li>
				</th:block>
			</ul>
		</div>